<%-include('header');-%>

<link rel=stylesheet type="text/css" href="/css/indexNEW.css">
<!-- 放入本頁的css --------------------------------------------->
<link rel=stylesheet type="text/css" href="/css/device.css">


<!-------------------------------------------------------------->
</head>

<body>

  <div class="index-container ">

    <%-include('navbar');-%>


    <!-- 你寫html的地方 --------------------------------------------->
    <main class="index-main">
      <div class="yourhtml">
        <div id="tab-demo" class="pl-1 pr-1 pt-3">
          <ul class="tab-title">
            <li><a href="#tab01">tab01</a></li>
            <li><a href="#tab02">tab02</a></li>
            <li><a href="#tab03">tab03</a></li>
          </ul>
          <!----------------------tabe1---------------------------->
          <div id="tab01" class="tab-inner">
            <div id="listdevice" class="row row-cols-1 row-cols-md-3">
           
              <div class="col mb-4">
                <div class="card h-100">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <div class="toggle-btn active">
                          <input type="checkbox" checked class="cb-value" />
                          <span class="round-btn"></span>
                        </div>
                        <div class="slidecontainer ">
                          <input type="range" min="0" max="100" value="0" class="sliderlight" id="myRange">
                          <p>Value: <span id="demo" ></span></p>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional conten</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mb-4">
                <div class="card h-100">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                          additional content. This content is a little bit longer.</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!----------------------tabe1---------------------------->
          <!----------------------tabe2---------------------------->
          <div id="tab02" class="tab-inner">
            <p>tab02的內容</p>
          </div>
          <!----------------------tabe2---------------------------->
          <!----------------------tabe3---------------------------->
          <div id="tab03" class="tab-inner">
            <p>tab03的內容</p>
          </div>
          <!----------------------tabe3---------------------------->
        </div>
    </main>
    <!-------------------------------------------------------------->
  </div>

  <!-- 放入本頁的js ------------------------------------->
  <script src="/js/device.js"></script>

  <!-------------------------------------------------------------->
  <%-include('footer');-%>