<%-include('header');-%>

<link rel=stylesheet type="text/css" href="/css/indexNEW.css">
<!-- 放入本頁的css --------------------------------------------->



<!-------------------------------------------------------------->
</head>

<body>

    <div class="index-container ">

        <nav class="index-nav">
            <div class="nav-side-menu">
                <div class="brand">Brand Logo</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">

                    <ul id="menu-content" class="menu-content collapse out">
                        <li>
                            <a href="/v1/device">
                                <i class="fa fa-plus-circle fa-lg"></i>新增裝置
                            </a>
                        </li>

                        <li>
                            <a href="/v1/group">
                                <i class="far fa-object-group fa-lg"></i> 群組設定
                            </a>
                        </li>

                        <li>
                            <a href="/v1/scene">
                                <i class="far fa-image fa-lg"></i> 情境設定
                            </a>
                        </li>

                        <li>
                            <a href="/v1/schedule">
                                <i class="fas fa-history fa-lg"></i> 定時設定
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-stopwatch fa-lg"></i> 時序編輯配置
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-toggle-on fa-lg"></i> 開關設定
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fab fa-connectdevelop fa-lg"></i> 迴路配置
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-network-wired fa-lg"></i> 迴路群組設定
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-undo-alt fa-lg"></i> 設備重製
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-file-import fa-lg"></i> 匯入
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-file-export fa-lg"></i> 匯出
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-user-circle fa-lg"></i> 登出
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>


        <!-- 你寫html的地方 --------------------------------------------->
        <main class="index-main">
            <div class="yourhtml">
                <h1>group的頁面</h1>
            </div>
           








        </main>
        <!-------------------------------------------------------------->
    </div>


    <!-- 放入本頁的js ------------------------------------->


    <!-------------------------------------------------------------->
    <%-include('footer');-%>