<%-include('header');-%>

<link rel=stylesheet type="text/css" href="/css/indexNEW.css">
<!-- 放入本頁的css --------------------------------------------->
<link href="/css/group.css" rel="stylesheet">


<!-------------------------------------------------------------->
</head>

<body>

    <div class="index-container ">

        <%-include('navbar');-%>


        <!-- 你寫html的地方 --------------------------------------------->
        <main class="index-main">
            <div class="yourhtml">
                <nav>
                    <ul class="nav">
                        <li><i  class="clicki far fa-object-group fa-lg"></i></li>
                    </ul>
                </nav>
            </div>
        </main>
        <!-------------------------------------------------------------->
    </div>


    <!-- 放入本頁的js ------------------------------------->
    <script src="/js/group_ajax.js"></script>
    <!-- <script src="/sweetalert2/dist/sweetalert2.all.min.js"></script> -->
    <!-------------------------------------------------------------->
    <%-include('footer');-%>