<%-include('header');-%>

<link rel=stylesheet type="text/css" href="/css/indexNEW.css">
<!-- 放入本頁的css --------------------------------------------->
<link href="/css/group.css" rel="stylesheet">


<!-------------------------------------------------------------->
</head>

<body>

    <div class="index-container ">

        <%-include('navbar');-%>


        <!-- 你寫html的地方 --------------------------------------------->
        <main class="index-main">
            <div class="yourhtml">

                <div class="groupView  navcss  ">
                   
                       
                    
                </div>


                <div class="controlgroup d-flex align-items-center justify-content-center">
                    <div class="onoff d-flex align-items-center  justify-content-center flex-column">

                        <ul class="onoffnav onoffradio">
                            <li><i class="">
                                    <div class="imgonoff"></div>
                                </i></li>
                        </ul>

                        <div>
                            <div class="slidecontainer ">
                                <input type="range" min="0" max="100" value="0" class="sliderlight" id="myRange">
                                <p>亮度: <span id="demo">0</span></p>
                                </input>
                            </div>

                            <div class="slidecontainer_2">
                                <input type="range" min="0" max="100" value="0" class="sliderlight_2" id="myRange_2">
                                <p>色溫: <span id="demo_2">0</span></p>
                                </input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-------------------------------------------------------------->
    </div>


    <!-- 放入本頁的js ------------------------------------->
    <script src="/js/group_ajax.js"></script>
    <!-- <script src="/sweetalert2/dist/sweetalert2.all.min.js"></script> -->
    <!-------------------------------------------------------------->
    <%-include('footer');-%>