<%-include('header');-%>

<link rel=stylesheet type="text/css" href="/css/indexNEW.css">
<!-- 放入本頁的css --------------------------------------------->
<link rel=stylesheet type="text/css" href="/css/scan.css">


<!-------------------------------------------------------------->
</head>

<body>

    <div class="index-container ">

        <%-include('navbar');-%>

        <!-- 你寫html的地方 --------------------------------------------->
        <main class="index-main">
            <div class="yourhtml ">
                <div>
                    <div class="container">
                        <div class="mask" style="display: none;"> <img  src="/images/Radio-1s-200px.svg" alt=""></div>
                       
                        <h4 class="display-4 text-center py-1">選擇要配對的裝置</h4>
                        <ul id="menu" class="list-group pb-5">

                            <li
                                class="list-group-item list-group-item-action d-flex align-items-center justify-content-between">
                                <div class="d-flex">
                                    <div>
                                        <i class="far fa-lightbulb fa-lg pt-3 pr-3"></i>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span class="item-text"></span>
                                        <span class="item-text"></span>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-outline-success mr-2">link</button>
                                    <button class=" btn btn-outline-primary btn-sm"><i class="fas fa-wifi"></i></button>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </main>
        <!-------------------------------------------------------------->
    </div>


    <!-- 放入本頁的js ------------------------------------->
    <script src="/js/scanView.js"></script>

    <!-------------------------------------------------------------->
    <%-include('footer');-%>