<%-include('header');-%>

<link rel=stylesheet type="text/css" href="/css/indexNEW.css">
<!-- 放入本頁的css --------------------------------------------->



<!-------------------------------------------------------------->
</head>

<body>

    <div class="index-container ">

        <%-include('navbar');-%>


        <!-- 你寫html的地方 --------------------------------------------->
        <main class="index-main">
            <div class="yourhtml">
                <h1>schedule的html
                </h1>
            </div>









        </main>
        <!-------------------------------------------------------------->
    </div>

    <!-- 放入本頁的js ------------------------------------->


    <!-------------------------------------------------------------->
    <%-include('footer');-%>