#tab-demo {
	width: 100%;
	height: 100%;
  }
  #tab-demo > ul {
	display: block;
	margin: 0;
	list-style: none;
  }
  .tab-title {
	list-style: none;
  }
  #tab-demo > ul > li {
	display: inline-block;
	vertical-align: top;
	/* font-family: "微軟正黑體"; */
	margin: 0 -1px -1px 0;
	border: 1px solid #000000;
	height: 25px;
	line-height: 25px;
	background: #1D23AC;
	padding: 0 15px;
	list-style: none;
	box-sizing: border-box;
  }
  #tab-demo > ul > li a {
	color: #000;
	text-decoration: none;
  }
  #tab-demo > ul > li.active {
	border-bottom: 1px solid #010CFE;
	background: #010CFE;
  }
  #tab-demo > .tab-inner {
	clear: both;
	color: #000;
	border: 1px #000 solid;
	border-radius: 15px;
	width: 100%;
	height: 95%;
  }
  .tab-inner {
	padding: 15px;
	height: 50px;
  }
  
/* --------------------------togglecss---------------------- */
.toggle-btn {
	overflow: hidden;
	width: 80px;
	height: 40px;
	/* margin: 10px; */
	border-radius: 50px;
	display: inline-block;
	position: relative;
	background: no-repeat 50px center #e74c3c;
	cursor: pointer;
	-webkit-transition: background-color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out;
	transition: background-color 0.4s ease-in-out;
	cursor: pointer;
}


.toggle-btn.active {
	background:  no-repeat 10px center #2ecc71;
}

.toggle-btn.active .round-btn {
	left: 45px;
}

.toggle-btn .round-btn {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -15px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.toggle-btn .round-btn::before{
	content: "off";
	position: absolute;
	top:2px;
	left: 45px;
	color: white;
}

.toggle-btn .round-btn::after{
	content: "on";
	position: absolute;
	top:2px;
	left: -35px;
	color: white;
}


.toggle-btn .cb-value {
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 9;
	cursor: pointer;
	
}

.made-with-love {
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 10px;
	text-align: center;
	font-size: 10px;
	z-index: 9999;
	font-family: arial;
	color: #fff;
}

.made-with-love i {
	font-style: normal;
	color: #f50057;
	font-size: 14px;
	position: relative;
	top: 2px;
}

.made-with-love a {
	color: #fff;
	text-decoration: none;
}

.made-with-love a:hover {
	text-decoration: underline;
}
/* --------------------------togglecss---------------------- */