.nav {
    list-style: none;
    text-align: center;
  }

  .nav li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
  }

  .nav i {
    cursor: pointer;
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
    color: #a7a7a7;
    margin: 36px;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  }

  .nav i:hover{
    text-decoration: none;
    color: #555;
    background: #f5f5f5;
    transition: 0.7s;
  }

  .nav li:before {
    content: "";
    display: block;
    background: #fff;
    border-top: 2px solid #ddd;
    position: absolute;
    top: 17px;
    left: 17px;
    bottom: 17px;
    right: 17px;
    z-index: 1;
    border-radius: 50%;
    box-shadow: inset 0px 8px 48px #ddd;
  }

  .nav i:active {
    box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
  }

  .pointer{
    cursor: pointer;
  }


  .radioactive {
    box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff !important;
    background: #F1F2F4  !important;
    color:#0B346E !important;
    text-shadow: 0px 0px 20px #005CAF,0px 0px 20px #005CAF,0px 0px 20px #005CAF,0px 0px 20px #005CAF  !important;
    font-weight:bold ;

  }