ul{
  padding-inline-start: 0px;
  margin: 0px;
}

p{
  margin: 0px;
}

.nav{
  display: block;
}

.groupView{
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  height: 50%;
  width: 100%;
  justify-content: space-around;
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:auto;
}

/* .navcss::after{
  content: '';
  flex: center;
} */

  .nav li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
  }

  .nav i {
    cursor: pointer;
    display: block;
    background-color: #f7f7f7;
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7)); */
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
    color: #a7a7a7;
    margin: 36px;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;
    text-align: center;
    line-height: 100px;
    border-radius: 10%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  }

  .nav i:hover{
    text-decoration: none;
    color: #555;
    background: #f5f5f5;
    transition: 0.7s;
  }

  .nav li:before {
    content: "";
    display: block;
    background: #fff;
    border-top: 2px solid #ddd;
    position: absolute;
    top: 25px;
    left: 25px;
    bottom: 25px;
    right: 25px;
    z-index: 1;
    border-radius: 10%;
    box-shadow: inset 0px 8px 48px #ddd;
  }

  .nav i:active {
    box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
  }

  .pointer{
    cursor: pointer;
  }


  .radioactive {
    box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff !important;
    background: #F1F2F4  !important;
    color:#0B346E !important;
    text-shadow: 0px 0px 20px #005CAF,0px 0px 20px #005CAF,0px 0px 20px #005CAF,0px 0px 20px #005CAF  !important;
    font-weight:bold ;
  }


  .controlgroup{
    height: 50%;
  }

  .onoff{
    height: 100%;
    width: 50%;
  }

  .onoffnav li{
    position: relative;
    display: inline-block;
    margin-right: -4px;
  }

  .onoffnav i{
    cursor: pointer;
    display: block;
    background-color: #f7f7f7;
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7)); */
    /* background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);  */
   
    /* background-blend-mode: screen; */
    color: #a7a7a7;
    margin: 36px;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  }

  .onoffnav li::before{
   content: "";
   display: block;
   background: #fff;
   border-top: 2px solid #ddd;
   position: absolute;
   top: 25px;
   left: 25px;
   bottom:25px;
   right: 25px;
   z-index: 1;
   border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
  }


.imgonoff{
  background-image:url(/images/onOFF.svg);
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
 
}  


.onoffnavactive{
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff !important;
  background: #1B813E  !important;
}

.onoffnav i:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}





/* --------------------------inputRangecss---------------------- */
.sliderlight {
	-webkit-appearance: none;
	border-radius: 10px;
	width: 132px;
	height: 15px;
	background-image: -webkit-linear-gradient(left, #f22 0%, #f22 0%, #fff 0%, #fff 100%);
	box-shadow: inset #ebb 0 0 30px;
	outline: none;
	transition: .1s;
}

.sliderlight::-webkit-slider-thumb {
  position: relative;
	-webkit-appearance: none;
	width: 17px;
	height: 17px;
	background: #f22;
	border-radius: 50%;
  transition: .1s;
}

.sliderlight::-webkit-slider-thumb:hover,
.sliderlight::-webkit-slider-thumb:active {
	width: 25px;
	height: 25px;
	cursor: pointer; 
}

/* --------------------------inputRangecss---------------------- */

/* --------------------------inputRangecolor---------------------- */
.sliderlight_2 {
	-webkit-appearance: none;
	border-radius: 10px;
	width: 132px;
	height: 15px;
	background-image: -webkit-linear-gradient(left, #f22 0%, #f22 0%, #fff 0%, #fff 100%);
  box-shadow: inset #ebb 0 0 30px;
	outline: none;
	transition: .1s;
}

.sliderlight_2::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 17px;
	height: 17px;
	background: #f22;
	border-radius: 50%;
	transition: .1s;
}

.sliderlight_2::-webkit-slider-thumb:hover,
.sliderlight_2::-webkit-slider-thumb:active {
	width: 25px;
	height: 25px;
	cursor: pointer; 
}

/* --------------------------inputRangecolor---------------------- */